ul {
    list-style-type: none;
}

body {
    max-width: 60rem;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
}

.header h1 {
    font-size: var(--txt-xl);
    text-transform: uppercase;
    text-align: center;
    font-weight: var(--wgh-bold);
    color: var(--clr-dos);
}

.header img {
    width: 6rem;
}

.header a {
    color: var(--clr-dos);
    font-weight: var(--wgh-medium);
}

/* Inputs */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    padding-inline: 1.25rem;
    align-items: start;
    justify-content: center;
    margin-bottom: 3rem;
}

.inputs section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.inputs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.15rem;
}

.inputs label {
    font-size: var(--txt-xl);
    text-align: center;
    font-weight: var(--wgh-medium);
}

.inputs input,
.inputs textarea,
.inputs select {
    font-family: rubik;
    font-size: 1.125rem;
    color: var(--clr-negro-difuminado);
    font-weight: var(--wgh-medium);
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: var(--clr-blanco);
}

.inputs input {
    height: 2rem;
}

.inputs select {
    height: 2rem;
    padding-block: 0.25rem;
    text-align: center;
}

.inputs .inputs__selected_cities:empty {
    display: none;
}

.inputs .inputs__selected_cities {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
    background-color: var(--clr-blanco);
    padding: 0.75rem;
    border-radius: 8px;
}

.inputs .inputs__selected_cities li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-azul);
}

.inputs .inputs__selected_cities li img {
    cursor: pointer;
}

/* Resultado */
.output {
    background-color: var(--clr-celeste);
    padding: 1.25rem;
    color: var(--clr-blanco);
    box-shadow: 0 2px 5px 1px var(--clr-shadows);
}

.output h2 {
    font-size: var(--txt-xl);
}

.output p {
    font-size: var(--txt-md);
}

#idDate {
    text-align: center;
}

/* Media querys */
@media (min-width: 45rem) {
    .header {
        flex-direction: row;
    }

    .header img {
        width: 8rem;
    }

    .header h1 {
        font-size: var(--txt-2xl);
    }

    .inputs {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .inputs section {
        width: fit-content;
        gap: 3.25rem;
    }

    .inputs input {
        width: 20rem;
    }

    .inputs .inputs__selected_cities li {
        padding-left: 35%;
    }
}
