
.main {
    max-width: 80%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  var(--clr-blanco);

    border-radius: 25px;
    height: 800px;
    width: 60%;
    
    margin-top: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
}

a{
    text-decoration: none;
    text-align: center;
}
.error404{
    color: var(--clr-rojo);
}
.noEncontrada{
    color:var(--clr-negro);
    font-size: var(--txt-xl);
    font-weight: var(--wgh-semiBold);
    margin-top: 100px;
}

.regresoButton{
    background-color: #007AFF;
    border-radius: 6px;
    color:var(--clr-blanco);
    font-size: 20px;
}

.messageError{
    color:var(--clr-gris-oscuro)
}


.contentError .imgNF{
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 75%;
    max-height: 75%
}


        
.contentError p{
    margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 450px) {
    body {
        margin: 0 auto;
        color: var(--clr-negro);
        
    }
    
    .main {
        max-width: 80%;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:  var(--clr-blanco);
    
        border-radius: 25px;
        height: 400px;
        width: 60%;
        
        margin-top: 2%;
        margin-right: 20%;
        margin-bottom: 2%;
        margin-left: 20%;
    }


  
    .noEncontrada{
        color:var(--clr-negro);
        font-size: var(--txt-base);
        font-weight: var(--wgh-semiBold);
        
    }
    
    .messageError{
        color:var(--clr-gris-oscuro)
    }
    
}