@font-face {
    font-family: "rubik";
    src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
    font-weight: 300 400 500 600 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.titulo {
    margin-top: 30px;
}

.titulo a {
    color: var(--clr-celeste);
    float: right;
    margin-top: -30px;
}

.seleccionarPais {
    margin: 0 auto;
    width: 600px;
    margin-top: 50px;
    font-size: 20px;
}

.paisOrigenResultado, .paisDestinoResultado {
    text-align: left;
    font-size: 15px;
}

.seleccionarFecha  {
    font-size: 20px;
    margin-top: 60px;
}

.seleccionarFecha input[type="datetime-local"] {
    margin-top: 10px;
    background-color: #bbb7b7;
    border: 0px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.fechaConvertida {
    font-size: 20px;
    margin-top: 40px;
}

.horaResultado {
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--clr-celeste);
    border: 0px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    color: var(--clr-celeste);
}

:root {
    /* Colores */
    --clr-negro: #070417;
    --clr-gris-oscuro: #555555;
    --clr-gris-claro: #d9d9d9;
    --clr-blanco: #fafaff;

    --clr-celeste: #74acdf;
    --clr-azul: #0038a8;
    --clr-rojo: #ff6d90;

    /* Tamaños para textos */
    --txt-2xl: 3.25rem; /* 52px */
    --txt-xl: 2rem; /* 32px */
    --txt-lg: 1.75rem; /* 28px */
    --txt-md: 1.375rem; /* 22px */
    --txt-base: 1.125rem; /* 18px */
    --txt-sm: 0.875rem; /* 14px */

    /* Pesos de fuentes */
    --wgh-bold: 700;
    --wgh-semiBold: 600;
    --wgh-medium: 500;
    --wgh-regular: 400;
    --wgh-ligth: 300;
}

html {
    font-family: rubik;
    background-color: var(--clr-blanco);
    color: var(--clr-negro);
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: var(--wgh-bold);
    font-size: var(--txt-lg);
}

h2 {
    font-weight: var(--wgh-medium);
    font-size: var(--txt-md);
}

/* Media querys */
@media (min-width: 45rem) {
    h1 {
        font-size: var(--txt-2xl);
    }

    h2 {
        font-size: var(--txt-xl);
    }
}

/* hasta aca el style del index.html */