body {
    background-color: rgb(65, 64, 64);
    margin: 0 auto;
}

.main {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoMain {
    margin-top: 10px;
}

.logoMain svg {
    width: 200px;
}

.mainTitle h1{
    margin-top: -5px;
    margin-bottom: 30px;
    font-size: 100px;
}

.descriptionError a {
    color: antiquewhite;
    font-size: 30px;
}

footer {
    margin: 0 auto;
    width: 80%;

}

.footer {
    margin-top: -100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer ul li{
    color: antiquewhite;
    display: inline;
    padding-right: 60px;
    padding-left: 60px;
    border-right: 3px solid antiquewhite;
}

.footer ul li:nth-child(3) {
    border: none;
}

.footer ul li:nth-child(1) {
    padding-left: 0px;
    
}

@media screen and (max-width:700px) {
    
    .mainTitle h1{
        font-size: 50px;
    }

    .descriptionError p, .descriptionError a {
        font-size: 12px;
    }


    .footer ul li{
        font-size: 12px;
        padding-right: 20px;
        padding-left: 20px;
    }
}